body {
  text-align: center;
  line-height: 1.5;
  height: auto;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 900;
}

p {
  font-size: 1.2rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 900;
}

hr {
  color: #4d93b5;
  opacity: 1;
  width: 55%;
  margin: 0 auto;
}

.fa-solid {
  color: #4d93b5;
  margin: 2% auto;
}

.slider-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feature-heading {
  font-size: 2.5rem;
}


.carousel-img {
  height: 900px;
  max-width: 100%;
  border-top: 10px solid #4d93b5;
  border-right: 10px solid #000000;
  border-bottom: 10px solid #4d93b5;
  border-left: 10px solid #000000;
}

.residential-plumbing {
  width: 50%;
  height: auto;
  margin-right: 30px;
  float: left;
}

#services-preview-section {
  margin: 100px auto 100px auto;
  padding: 5% 2%;
}

.services-list {
  width: 100%;
  text-align: left;
  padding: 10%;
}



div.fb-like.fb_iframe_widget {
  width: 100%;
  background-color: #000000;
  margin: 60px auto;
}


.btn.btn-lg {
  border: 3px solid #4d93b5;
  padding: 1px 20px 1px 20px;
  font-size: 1rem;
  border-radius: 0;
  color: #4d93b5;
  background-color: #000000;
}

#cta-btn {
  margin: auto auto 3px 15px;
  border: 2px solid white;
}

#map {
  height: 400px;
  width: 100%;
}

#hr-wrap {
  background-color: #000000;
}

#fb-wrap {
    background-color: #000000;
}


#header-section {
  background: url('images/My project (3).png');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
}

.wrap {
  min-width: 100%;
  min-height: 50%;
  opacity: 0.9;
  background-image: -webkit-linear-gradient(black, #4d93b5, black);
  background-image: -moz-linear-gradient(black, #4d93b5, black);
  background-image: -ms-linear-gradient(black, #4d93b5, black);
  background-image: -o-linear-gradient(black, #4d93b5, black);
}

.cta-tag {
  color: #4d93b5;
  background-color: #000000;
  width: 100%;
  display: inline-block;
  font-size: 1.2rem;
}

.cta-tag a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: 0 22% 0 13%;
}

.logo {
  width: 75%;
}

.navbar-nav .nav-link.active {
  color: #4d93b5;
  background-color: #000000;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  display: block;
  background-color: #000000;
  color: #4d93b5;
  transform: scale(1.1);
}

#slider-section {
  background-image: -webkit-linear-gradient(black, white);
  background-image: -moz-linear-gradient(black, white);
  background-image: -ms-linear-gradient(black, white);
  background-image: -o-linear-gradient(black, white);
  color: #4d93b5;
  padding: 3% 0 30%;
}

/*******background-color: rgb(255,255,255,1);
***/
#features-section {
  text-align: center;
  padding: 10% 15%;
  background-image: url('images/muddygroupplumbing.jpg'), linear-gradient(white, white, white, black);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

#features-section p {
  text-overflow: clip;
  text-align: left;
}

#features-section .fa-solid {
  color: #000000;
}

#features-section .fa-solid.fa-heart:hover {
  color: #ff4c68;
}

.fb-review {
  max-width: 100%;
  height: auto;
}

.features-item {
  margin: auto;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


#fb-wrap {
  background-color: #000000;
}

#footer-section {
  background-image: linear-gradient(#4d93b5, black);
  overflow: hidden;
  padding: 7% 10% 0 10%;
}

#facebook-section {
  padding: 15% 7%;
}


#footer-section p {
  color: #4d93b5;
  font-size: 1rem;
  background-color: #000000;
  width: 100%;
  pading: 7% 0;
}

@media (max-width: 1286px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
    margin: auto;
  }
}


@media (max-width: 800px) {
  .carousel-img {
    height: auto;
    width: 100%;
  }
}


@media (max-width: 384px) {
  #footer-section iframe {
    width: 200px;
    height:200px;
  }
  }
}



@media not all and (min-resolution:.001dpcm) {
  @media {
    .safari10 {
      .features-section {
        background-color: #fff;
      }
    }
  }
}
